*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   
    height: 100%;
    color: black;
    font-family: "Roboto","Open Sans","Roboto", monospace;
}
#icone{
    position: fixed ;
   
}

#check{
    display: none;
     
}

.icons-social{
    margin-top: 560px;
    text-align: center;

}		
.icons-social a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color:#612F74;;
    border-radius: 30px;
    color: white;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    /*box-shadow: 0 0 10px #612F74, 0 0 20px #612F74, 0 0 20px #612F74;
*/}
.icons-social i{
    line-height: 40px;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 1;
}
.barra{
    background-color: whitesmoke;
    height: 100%;
    width: 15%;
    position: fixed;
    transition: all .2s linear;
    transform: translateX(-300px);
    left: -300px;
    box-shadow: 0 0 10px #b6b6b6, 0 0 20px #b6b6b6, 0 0 20px #b6b6b6;
}
nav{
    width: 100%;
    position: absolute;
    top:60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: white;
    padding: 20px;
    font-size: 11pt;
    transition: all .2s linear;
    color: #000000;
    border-bottom: 2px solid #b6b6b6;
    opacity: 1;
    margin-top: 200px;
}

.link:hover{
    background-color: #612F74 ;
    color: #b6b6b6;
    box-shadow: 0 0 5px #612F74, 0 0 10px #612F74, 0 0 20px #612F74;
}
#check:checked ~ .barra{
    transform: translateX(300px);
}

#check:checked ~ .barra nav a .link{
    opacity: 2;
    margin-top: 0;
    transition-delay: .3s;
}
figure img{
    width: 20%;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 5px #612F74, 0 0 10px #612F74, 0 0 10px #612F74;   
}
figure{
    text-align: center;
    padding-top: 20px;  
    padding-bottom: 20px;
} 
.content{
    width: 85%;
    height: 100%;
    margin-left: 15%;
    font-size: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 0 10px #b6b6b6, 0 0 20px #b6b6b6, 0 0 20px #b6b6b6;   
    text-align: center;
    padding-top: 50px; 
}
.content#home{
    padding-top: 20px;   
}
.content#home p{
    margin-bottom: 1cm;
    margin-top: 1cm;
}
#home{background-color: whitesmoke;}
#formacao{background-color:whitesmoke;}
#experiencia{background-color: whitesmoke;}
#perfilP{background-color: whitesmoke;}
#adicionais{background-color: whitesmoke;}

section.content h2 >span{
    color:orangered;
}
footer{
    color: #000000;
    text-align: center;
    font:'arial';
    font-size: 12px;
    background: whitesmoke;
    width: 85%;
    margin-left: 15%;
    border-bottom: 1px solid #b6b6b6;
    border-top: 0.5px solid #b6b6b6;
    border-radius: 5px;
}
#download{
    width: 8%;
    border-radius: 1px;
    background-color: #b6b6b6;
    color: rgb(5, 5, 5);
    padding: 6px;
    position: absolute;
    top: 90%;    
    left:55%;
    font-size: 10px;
    text-decoration: none;
   
}
